.mar {
    float: left;
    margin-top: 4%;
    height: 100%;
    font-family: Comic Sans MS;
    width: 30%;
    margin-right: 50%;
    margin-left: 36%;
    text-align: center;
    background-color: rgb(238, 224, 30);
    border-style: solid;
    border-color: black;
}

div:hover {
    color: rgb(39, 21, 35);
    transform: scale(1.01);
    box-shadow: 1rem 1rem 1rem 1rem;
}

#but {
    height: 2%;
    width: 50%;
    font-family: Comic Sans MS;
    font-size: large;
    font-weight: bold;
    border-style: solid;
    border-color: black;

}

#but:hover {
    color: rgb(236, 22, 94);
    transform: scale(1);
    box-shadow: 0.2% 0.1% 0.2% 0.1%;
}


input {


    height: 1.5%;
    width: 40%;
    border-style: solid;
    border-color: black;
}

h1 {
    width: 100%;
    padding-top: 1%;
}

body {
    width: 95%;
    background-image: linear-gradient(-90deg, rgb(52, 235, 122), rgb(52, 235, 161), rgb(52, 235, 201), rgb(52, 235, 229), rgb(52, 211, 235), rgb(52, 211, 235));

}

#result {
    font-family: Comic Sans MS;
    font-size: larger;
    font-weight: bold;

}

hr {
    color: black;
    border-style: dotted;
}